<div class="dashboard-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Sidebar -->
    
    
    <!-- Content -->
     
    <div class="content">
    
        <section class="headers-list">
            <div class="actions-container">
                <span class="action-link create" (click)="onCreateNew()">
                    <i class="fas fa-plus-circle"></i> Crear
                </span>
                <span class="action-link edit" (click)="onEdit()">
                    <i class="fas fa-edit"></i> Editar
                </span>
                
            </div>
    
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Descripción</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Ubicación</th>
                        <th>GitHub</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let header of headers">
                        <td>{{ header.name }}</td>
                        <td>
                            <img 
                                *ngIf="header.imageUrl" 
                                [src]="header.imageUrl" 
                                alt="Foto de {{ header.name }}" 
                                class="profile-thumbnail" 
                            />
                        </td>
                        <td>{{ header.description }}</td>
                        <td>{{ header.email }}</td>
                        <td>{{ header.phoneNumber || 'N/A' }}</td>
                        <td>{{ header.location || 'N/A' }}</td>

                        <td>
                            <a *ngIf="header.github" [href]="header.github" target="_blank">
                                Ver Perfil
                            </a>

                            
                        </td>
                        <span class="action-link delete" (click)="onDelete(header.id)">
                          <i class="fas fa-trash-alt"></i> 
                        </span>
                        
                    </tr>
                </tbody>
            </table>
        </section>
    
      <!-- Work Experience -->
      <section class="work-experience">
        <h3>Experiencia Laboral</h3>
        <div *ngIf="workExperiences.length > 0; else noExperience" class="jobs">
          <div *ngFor="let experience of workExperiences" class="job">
            <h4>{{ experience.role }} - {{ experience.company }}</h4>
            <h4>{{ experience.accomplishments }} </h4>

            <p>{{ experience.startDate | date:'MM/yyyy' }} - {{ experience.endDate ? (experience.endDate | date:'MM/yyyy') : 'Actualidad' }}</p>
            <p>{{ experience.location }} </p>



            <ul>
              <li *ngFor="let accomplishment of experience.accomplishments">{{ accomplishment }}</li>
            </ul>
            <div class="actions">
              <button class="edit" (click)="onEditExperience(experience.idWorkExperience)"></button>
              <button class="delete" (click)="onDeleteExperience(experience.id)"></button>
            </div>
          </div>
        </div>
        <ng-template #noExperience>
          <p>No tienes experiencias laborales. ¿Quieres añadir una nueva?</p>
        </ng-template>
      
        <div class="create-new">
          <button class="create" (click)="onCreateExperience()">Crear Nuevo</button>
        </div>
      </section>
      
      
    
      
    </div>
  </div>
  