/* Importar la fuente de Google Fonts */

body {
   color: #ffffff;
   margin: 0;
   padding: 3em;
   background: #14385a; /* Degradado sutil */
   background-size: 400% 400%; /* Movimiento para animación */
 }
 
 








